name: CI

on:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Check coverage
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v2
        with:
          python-version: 3

      - name: Install deps
        run: pip install -r codebase/requirements.txt

      - name: Launch tests & generate report
        run: pytest

      - name: Launch the action
        uses: ewjoachim/python-coverage-comment-action@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERBOSE: true

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v2
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
